{% extends 'base.html' %}
{% load static%}
{% block stylesheets %}
<title>Receipt</title>

{% endblock %}
<body>
    {% block content %}

        <ul class="rec-arr">
            {% for p in posts %}
            <li>
                <h2>{{ p.title }}</h2>
                <p>{{ p.receipt|truncatewords:10}}</p>
                <p><a href="{{ p.get_absolute_url }}">Читать рецепт</a></p>
                <hr>
            </li>
            {% endfor %}
            <li>
                <h2>Добавить рецепт</h2>
                <p><a href="#">Добавить рецепт</a></p>
            </li>
        </ul>
    {% endblock %}
</body>
